@inherits LayoutComponentBase
<div class="container-fluid" style="position: absolute; bottom: 0; top: 0; left: 0; right: 0;">
    <div class="position-absolute top-50 start-50 translate-middle align-content-center">
        <div class="d-flex">
            @Body
        </div>
    </div>
</div>