@page "/Account/Access-Denied"
@using WebUI.Components.Layout
@layout MainLayout

@*<TwoSectionsTemplate>
    <Col12Template>
        <div class="card">
            <div class="card-body">
                <div class="alert alert-warning">
                    <h1>Sorry, you do not have access</h1>
                </div>
            </div>
        </div>
    </Col12Template>
    <FooterTemplate><Footer /></FooterTemplate>
</TwoSectionsTemplate>
*@